.center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 200px;
}

.searchBar-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.filtering-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  /* background-color: #0070f3; */
  background-color: #fff;
}

.filtering-container ul {
  margin-left: -2.5rem;
  margin: 20px 0px;
}

.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.search-btn {
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 7px 20px;
  cursor: pointer;
  margin-top: 0.8rem;
}

.search-btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 996px) {
  .center-div {
    padding: 20px;
  }
  .filters-container {
    flex-direction: column;
  }
}
